


.button {
  display: block;
  background-color:grey;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
.output {
  height: 50px;
  background-color: darkgray;
  width: 100%;
  font-size: 40px;
}
